*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*STARTS HOME*/
.container{
    background-image: url(../img/emilia-home.jpg);
    background-size: 880px 620px;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 86%;
    height: 620px;/*BORRAR*/
    margin: 0 auto;
}
.navigation{
    width: 25%;
    padding: 15px 0 0 30px;
    font-size: 18px;
    font-weight: 400;
}
.navigation ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.navigation ul li a{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #9d9da2;
}
.navigation ul li a:hover{
    text-decoration: underline;
}
.social{
    width: 25%;
    padding-left: 30px;
}
.social img{
    width: 4%;
}
.subtitle{
    width: 25%;
    height: 370px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.subtitle h2{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.title{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.title h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
}
/*ENDS HOME*/
/*STARTS ABOUT*/
.container-about{
    background-image: url(../img/emilia-about.jpg);
    background-size: 940px 620px;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 92%;
    height: 620px;/*BORRAR*/
    margin: 0 auto;
}
.navigation-about{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation-about ul{
    display: flex;
    flex-direction: row;
}
.navigation-about ul li{
    list-style-type: none;
    margin-right: 20px;
}
.navigation-about ul li a{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;
}
.navigation-about ul li a:hover{
    text-decoration: underline;
}
.social-about{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}
.social-about img{
    width: 1%;
    margin-right: 5px;
}
.subtitle-about{
    width: 25%;
    height: 250px;
    display: flex;
    align-items: center;
}
.subtitle-about h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
}
.comment-about{
    width: 50%;
    font-family: 'Work Sans', sans-serif;
    color: #008c73;
    margin-top: 20px;
    padding-left: 20px;
}
.comment-about p{
    font-size: 23px;
}
.comment-about h3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}
/*ENDS ABOUT*/
/*STARTS MUSIC*/
.container-music{
    width: 92%;
    margin: 0 auto;
}
.top-music{
    background-image: url(../img/emilia-music-top.jpg);
    height: 150px;
}
.subtitle-music{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.subtitle-music h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.links-music{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 15px;
}
.links-music a{
    text-decoration: none;
    color: #9d9da2;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.links-music a:hover{
    text-decoration: underline;
}
.album-music{
    width: 100%;
    margin-top: 50px;
}
.album-music h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.album-music img{
    width: 50%;
}
.album-music a{
    text-decoration: none;
    color: #868686;
    font-family: 'Open Sans', sans-serif;
}
.album-music a:hover{
    text-decoration: underline;
}
.songs-music{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}
.songs-music span{
    margin-bottom: 15px;
    font-size: 13px;
}
.video-music{
    width: 100%;
    margin-top: 50px;
}
.video-music h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
.credits-music{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.credits-music span{
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.video-music a{
    text-decoration: none;
    color: #868686;
    font-family: 'Open Sans', sans-serif;
}
.video-music a:hover{
    text-decoration: underline;
}
/*ENDS MUSIC*/
/*STARTS CONTACT*/
.container-contact{
    width: 92%;
    margin: 0 auto;
}
.where h4{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.where iframe{
    width: 100%;
    height: 450px;
}
.contact-info{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
}
.contact-info h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact{
    margin-bottom: 20px;
}
.contact h4{
    font-weight: 700;
}
.contact a{
    text-decoration: none;
    color: #8d8d8d;
}
.contact a:hover{
    text-decoration: underline;
}
.contact h3{
    color: #42a391;
    font-weight: 400;
    margin-bottom: 20px;
}
/*ENDS CONTACT*/